body {
    margin: 0;
    padding: 0;
}

.gray {
    background: gray;
    width: 100%;
    height: 15vh;
}

.bluesquare {
    background: blue;
    width: 100px;
    height: 100px;
    margin-left: 25px;
}

p {
    padding: 25px;
    font-size: 25px; 
    height: 15vh;
}

.blue {
    width: 100%;
    background: blue;
    height: 15vh;
}


.green {
    width: 100%;
    background: green;
    height: 15vh;
}

.greenyellow {
    width: 100%;
    background: rgb(68, 128, 0);
    height: 15vh;
}

.yellow {
    width: 100%;
    background: yellow;
    height: 15vh;
}